body {
	background-color: #f5f5f5;
	padding-top: 3.5em;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
}

#overflow-cover { display: none }
#overflow-cover.on { display: block;
	position: fixed; top: 0px; left: 0px; width: 100%;
	background-color: #f5f5f5;	height: 3.5em; z-index: 500;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.list {
	display: table;
	border-collapse: collapse;
	border-radius:2px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

.list > .item {
	display: table-row;
	border-top: 1px solid #e0e0e0;
}

.list > .item  > .item {
	display: table-cell;
	padding: 0.5em;
}

.item.list {
	max-width: 22em;
}

.item.list > span {
	margin: 0em 0.5em;
	width: 2em;
}

.item.head {
	text-align: center;
	color: rgb(118,118,118);
	background-color: white;
}

.item {
	vertical-align: middle;
}

.item > span {
	display: inline-block;
}

.list .item.numeric {
	text-align: right;
}

.item.day > div {
	width: 2em;
	height: 2em;
	margin-left: 0.125em;
	margin-right: 0.125em;
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.0306);
}

.day > div {
	text-align: center;
}

.day > div > .fa {
	line-height: 2em;
	display: none;
}

.day > div > .fa-cutlery {
	display: inline;
}

.day .yes {
	background-color: #43a047 !important
}
.day .yes.unconfirmed {
	background-color: #a5d6a7 !important
}
.day .yes .fa-check {
	display: inline;
}
.day .yes .fa-cutlery {
	display: none;
}

.day .no {
	background-color: #d32f2f !important
}
.day .no.unconfirmed {
	background-color: #ef9a9a !important
}
.day .no .fa-times {
	display: inline;
}
.day .no .fa-cutlery {
	display: none;
}

.day .pocket {
	background-color: #ffca28 !important
}
.day .pocket.unconfirmed {
	background-color: #ffe082 !important
}
.day .pocket .fa-briefcase {
	display: inline;
}
.day .pocket .fa-cutlery {
	display: none;
}

.day .yes_pocket {
	background-color: #9c27b0 !important
}
.day .yes_pocket.unconfirmed {
	background-color: #e1bee7 !important
}
.day .yes_pocket .fa-check {
	display: inline;
}
.day .yes_pocket .fa-briefcase {
	display: inline;
}
.day .yes_pocket .fa-cutlery {
	display: none;
}

.yes, .no, .pocket {
	transition: 1s;
}

.circle {
	border-radius: 50% !important;
}

.r2 {
	padding: 1em;
}

.button {
	background-color: #2196f3;
	color: white;
	display: inline-block;
	cursor: default;
	border-radius: 2px;
	margin: 0.25em;
	transition: 1s;
}

.green {
	background-color:  #43a047;
}

.red {
	background-color: #d32f2f;
}

.yellow {
	background-color: #ffca28;
}

.button * {
	color: white;
	transition: 1s;
}

.z1 {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

#overshadow {
	position: fixed;
	top:0px;
	left:0px;
	z-index: 1000;
	background-color: rgba(255,255,255,0.8);
	height: 100%;
	width: 100%;
	display: none;
}

#overshadow.on {
	display: block;
}

.item.day {
	width: 6.75em;
}

.item.head > .item {
	width: 6.75em;
}

.item.id {
	width: 2.5em;
}

.head .item.id {
	width: 2.5em;
}

.item.name {
	width: 6.5em;
}

.head .item.name {
	width: 6.5em;
}

.summary .item {
	width: auto !important;
}

.fixed {
	position: fixed;
}

.top {
	top:0px;
}

.right {
	right:0px;
}

.left {
	left:0px;
}

.mobile {
	margin-top: 0em;
	margin-bottom: 1em;
}

.fadeout {
	opacity: 0 !important;
}

.transparent {
	background-color: rgba(255,255,255,0) !important;
}

.solid {
	background-color: rgb(255,255,255) !important;
}

.inactive {
	background-color: #d5d5d5 !important;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.shrink {
	width: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.none {
	display: none !important;
}

/*
id  + name + 7*day + 2em margin
3.5em + 7.5em  + 7*7.75em = 14+n*7.75
*/

@media screen and (max-width: 67em){
	.list > .item > .item:nth-child(9) {
		display: none;
	}
}

@media screen and (max-width: 59.5em){
	.list > .item > .item:nth-child(8) {
		display: none !important;
	}
}

@media screen and (max-width: 51.75em){
	.list > .item > .item:nth-child(7) {
		display: none !important;
	}
}

@media screen and (max-width: 44em){
	.list > .item > .item:nth-child(6) {
		display: none !important;
	}
}

@media screen and (max-width: 36.5em){
	.list > .item > .item:nth-child(5) {
		display: none !important;
	}
}

@media screen and (max-width: 28.5em){
	.list > .item > .item:nth-child(4) {
		display: none !important;
	}
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

input {
	border: 0px;
	border-radius: 2px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

input[type=text],[type=password],[type=number] {
	border-radius: 2px;
	border: 1px solid white;
}

input[type=text]:focus,[type=password]:focus,[type=number]:focus {
	border-radius: 2px;
	border: 1px solid #2196f3;
}

input[type='submit']
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.fa {
	color: white;
	cursor: default;
	user-select: none;
}

.head .item > .fa {
	color: #767676;
	margin: 0px 2px;
}

#myid {
	width: 50%;
	height: 50%;
	text-align: center;
	vertical-align: middle;
}

#myid input {
	margin: 1em;
	padding: 1em;
	width: calc(100% - 2em);
}

.fa-spin {
	color: #767676;
	position: absolute;
	top: 50%;
	left: 50%;
}

.navbar {
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	z-index: 600;
}

.searchbar {
	width: 100%;
}

.searchbar .button {
	padding: 0.5em 0;
}

.searchbar input {
	width: 100%;
	color: black;
	padding: 0.5em;
	opacity: 1;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24) inset;
}

.navbar > div {
	display: table-cell;
	background-color: #2196f3;
}

.navbar .button {
	margin: 0;
}

.help {
	max-width: 20em;
	padding: 1em;
	background-color: white;
	border-radius: 4px;
}

.help .item {
	display: inline-block;
}

.secondary {
	color: gray;
	margin-left: 2.5em;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.fa-cutlery {
	color: #e0e0e0;
}

.button {
    position: relative;
    overflow: hidden;
    outline: none !important; /* remove dotted border */
}
.ripple:after {
    content: "";
    background: rgba(255,255,255,0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 200px;
    padding-left: 200px;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 0;
    transition: all 1s;
}
.ripple:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}

.slide-left {
	transform: translate(-100%,0);
}

.slide-right {
	transform: translate(100%,0);
}

.content {
	display: block;
	text-align: center;
}

.container {
	display: inline-block;
}

.custom.container {
	margin-left: 1em;
	margin-right: 1em;
}

.container .custom.item {
	display: none;
}

.custom.container .custom.item {
	display: table-row;
}
