<div style="width:calc(100% - 1em); height:calc(100% - 1em); overflow-y:scroll; margin:0.5em;">

<div class="centered z1 mobile summary help head">
	<div class="item">
		<span class="fa fa-coffee fa-2x">Colazione</span><br>
		<span class="fa fa-sun-o fa-2x">Pranzo</span><br>
		<span class="fa fa-moon-o fa-2x">Cena</span><br>
	</div>
	<hr>
	<div class="item day"><div class="z1"><span class="fa fa-cutlery"></span></div></div>
	<div class="item">Non sei segnato, SEGNATI!</div>
	<div class="item secondary">a colazione non serve segnarsi</div>
	<hr>
	<div class="item day"><div class="z1 yes"><span class="fa fa-check"></span></div></div>
	<div class="item">Sarò presente</div>
	<div class="item secondary"></div>
	<hr>
	<div class="item day"><div class="z1 no fa"><span class="fa fa-times"></span></div></div>
	<div class="item">Non ci sarò</div>
	<div class="item secondary">Non lasciare il pallino bianco, segna rosso se non sarai presente</div>
	<hr>
	<div class="item day"><div class="z1 pocket"><span class="fa fa-briefcase"></span></div></div>
	<div class="item">Vorrei il sacchetto</div>
	<div class="item secondary">il sacchetto per la colazione deve esere chiesto 2 giorni prima</div>
	<hr>
	<div class="item day"><div class="z1 yes_pocket"><span class="fa fa-check"></span><span class="fa fa-briefcase"></span></div></div>
	<div class="item">Sarò presente + Avrò il sacchetto </div>
	<div class="item"></div>
	<hr>
	<div class="item day"><div class="z1 yes unconfirmed"></div></div>
	<div class="item">Non hai ancora salvato, ASPETTA!</div>
	<div class="item secondary">
		Il colore chiaro significa che ancora non è salvato.
		Premi il tasto verde in alto a destra.
		Il salvataggio avviene comunque in tre secondi.
	</div>
	<hr>
	<div class="item fa fa-exclamation" style="color:red; text-align:center"></div>
	<div class="item">bisogna segnarsi prima delle 23:00</div>
	<hr>
	<br>
		<div class="button ripple green z1 r2" id="got">
			<span class="fa fa-check"></span>
			Ho Capito
		</div>
		<div class="button ripple z1 r2" id="changeId">
			<span class="fa fa-repeat"></span>
			<span>Cambio sigla</span>
		</div>
		<div class="button ripple red z1 r2" id="logout">
			<span class="fa fa-sign-out"></span>
			<span>Logout</span>
		</div>
		<a class="button ripple yellow z1 r2" href="change.html" style="text-decoration:none">
			<span class="fa fa-key"></span>
			<span>Cambia Password</span>
		</a>
		<a id="amministra" class="button ripple yellow z1 r2" href="admin" style="text-decoration:none; display:none">
			<span class="fa fa-key"></span>
			<span>Amministra</span>
		</a>
	</div>
</div>

</div>
