<div id="myid" class="centered">
	<h1>Sigla</h1>
	<form>
		<input type="number" min="1" max="1100" id="id" placeholder="la tua sigla"><br>
		<input type="submit" class="button ripple r5 z1" value="ok">
	</form>
<div>