<div class="navbar z1">
    <div><div class="button ripple fa fa-exchange r2" id="switchView"></div></div>
    <div class="searchbar"><div class="button r2">
      <input id="searchbox" class="shrink" placeholder="Cerca...">
    </div></div>
    <!--<div><div class="button ripple fa fa-calendar r2" id="one_all"></div></div>-->
    <div><div class="button ripple fa fa-calendar-minus-o r2" id="today"></div></div>
    <div><div class="button ripple fa fa-question r2" id="help"></div></div>
    <div><div class="button ripple fa fa-check r2" id="flush"></div></div>
    <div><div class="button ripple fa fa-arrow-left r2" id="lastWeek"></div></div>
    <div><div class="button ripple fa fa-arrow-right r2" id="nextWeek"></div></div>
</div>
