<link rel="stylesheet" type="text/css" href="index.css">
<script src="jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="index.js"></script>
<div class="list summary z1 centered">
	<div class="item"><div class="item" id="refersto"></div></div>
	<div class="item head">
		<div class="item"><input type="checkbox" id="summary-names"> Lista Nomi</div>
		<div class="item">totale</div>
		<div class="item">diete</div>
		<div class="item summary-names none">nomi</div>
	</div>
	<div class="item lunch yes">
		<div class="item title">Pranzo</div>
		<div class="item total numeric">0</div>
		<div class="item diets list numeric"></div>
		<div class="item list summary-names none"></div>
	</div>
	<div class="item dinner yes">
		<div class="item title">Cena</div>
		<div class="item total numeric">0</div>
		<div class="item diets list numeric"></div>
		<div class="item list summary-names none"></div>
	</div>
	<div class="item pocket lunch">
		<div class="item title">Sacchetto Pranzo</div>
		<div class="item total numeric">0</div>
		<div class="item pocket list numeric"></div>
		<div class="item summary-names none"></div>
	</div>
	<div class="item pocket dinner">
		<div class="item title">Sacchetto Cena</div>
		<div class="item total numeric">0</div>
		<div class="item pocket list numeric"></div>
		<div class="item summary-names none"></div>
	</div>
	<div class="item pocket breakfast">
		<div class="item title">Sacchetto Colazione</div>
		<div class="item total numeric">0</div>
		<div class="item pocket list numeric"></div>
		<div class="item summary-names none"></div>
	</div>
	<div class="item footer">
		<div class="item"><div class="button ripple z1 r2 bare"><span class="fa fa-download"></span>Salva</div></div>
		<div class="item"></div>
		<div class="item"><div class="button ripple green z1 r2 done"><span class="fa fa-check"></span>Fatto</div></div>
	</div>
</div>
