<table>
  <tr>
    <th>{{presences[0].locale('it').format('MMMM')}}</th>
    <th>colazione</th>
    <th>pranzo</th>
    <th>cena</th>
  </tr>
  <tr ng-repeat="presence in presences">
    <td>{{presence.locale('it').format('dddd D')}}</td>
    <td>{{presence.presences.breakfast.presence}}</td>
    <td>{{presence.presences.lunch.presence}}</td>
    <td>{{presence.presences.dinner.presence}}</td>
  </tr>
</table>
